@font-face {
  font-family: Karla;
  src: url('../src/fonts/Karla-Regular.ttf');
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
}

.header {
  background-color: rgb(121, 48, 139);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(50, 24, 59, 1) 9%,
    rgba(187, 86, 212, 1) 100%,
    rgba(101, 30, 159, 1) 100%
  );
  display: flex;
  justify-content: flex-start;
  height: 140px;
  box-shadow: 0 5px rgba(129, 127, 127, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.header-left > h1 {
  margin-left: 12px;
}

.trollface-img {
  width: 100px;
}
